.letter_wrapper {
  text-align: center;
  width: 5rem;
  cursor: pointer;
  border: 2px solid black;
  margin-bottom: 0.5rem;
}
.letter_wrapper:hover {
  border-color: rgb(246, 0, 226);
  background-color: aquamarine;
}
.alphabet_container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.alphabet_container::after {
  content: "";
  flex: auto;
}
